*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
sys/web/application/config/database.php
sys/web/application/config/config.php
sys/web/application/logs/*
sys/daemon/minute.php
